<div class="container">
  <form id="form" class="grid-reset-password validate" method="POST" action="/resetPassword/{{token}}">
    <div class="card resetPassword">
      <div class="card-content resetPassword">
        <span class="card-title resetPassword">Reset password</span>

        <!-- token error GET route -->
        {{#if tokenError}}
        <div class="alert error">
          <span>{{tokenError.message}}</span>
        </div>
        {{/if}}

        <!-- token error POST route -->
        {{#if tokenPostError}}
        <div class="alert error">
          <span>{{tokenPostError.message}}</span>
        </div>
        {{/if}}

        <!-- Validation errors -->
        {{#if validationErrors}} {{#each validationErrors}}
        <div class="alert error">
          <span>{{msg}}</span>
        </div>
        {{/each}} {{/if}}

        <!-- Success email sent -->
        {{#if emailResetSuccess}}
        <div class="alert success">
          <span>{{emailResetSuccess.message}}</span>
        </div>
        {{/if}}


        <!-- Password -->
        <div class="mat-div">
          <label for="password" class="mat-label">Password</label>
          <input type="password" class="mat-input" id="password" name="password" required>
        </div>

        <!-- Confirm Password -->
        <div class="mat-div">
          <label for="confirmPassword" class="mat-label">Confirm Password</label>
          <input type="password" class="mat-input" id="confirmPassword" name="confirmPassword" required>
        </div>

        <!-- Submit Button -->
        <div class="btn-reset-password">
          <button class="btn" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>




<!-- Script -->
<script src="/javascripts/pagescripts/resetPassword.js"></script>